@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-family: 'EB Garamond', serif;
}
h1, h2, h3{
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  font-size: 50px;
}

h3 {
  font-size: 30px;
}
p {
  font-family: 'Karla', sans-serif;
}

div.top-nav {
  display: flex;
  flex-direction: row;
  flex: 1;
}

div.top-nav h1 {
  margin-right: 60px;
  align-self: center;
}

div.nav-bar {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-left: 50px;
  align-items: center;
}

div.nav-bar p {
  color: black;
  margin: 10px;
  align-self: center;
  margin-right: 30px;
}

div.page-one {
  display: flex;
  flex:1;
  flex-direction: column;
}

div.container {
  display: flex;
  flex: 1;
  margin-bottom: 300px;
  align-items: center;

}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.item2 {
  margin-right: 20px;
  margin-left: 20px;
}

div.item2 img {
  justify-content: center;
}

div.row-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 300px;
  align-items: center;
}

html {
  background-color: #F5EFE2;
}


button {
  background-color: transparent;
  font-size: 30px;
  border-radius: 25px;
}

button p {
  font-size: 30;
}

div#writeUpLeft {
  margin-left: 40px;
  margin-right: 8vw;

}

img#writeup-rating-scale {
  max-width: 474px;
  max-height: 128px;
}

div#writeup p{
  font-size: 25px;
}

img#writeup-logo {
  max-width: 755px;
  max-height: 495px;
}

div#writeup-category {
  margin-left: 8vw;
  margin-right: 8vw;
}

div#writeup-category p{
  margin-left: 5vw;
}


input#searchbar {
  background-color: transparent;
  padding: 20px;
  border-radius: 12px;
  flex-basis: 2;
  flex-grow: 1;
}


button#searchbar {
  background-color: transparent;
  padding: 11px;
  border-radius: 12px;
}


img#brand-logo {
  max-width: 114.76px;
  max-height: 72px;
  justify-self: center;
  vertical-align: middle;
}


div#search-item {
  background-color: white;
  flex: 1;
}

img#smiley {
  max-width: 61px;
  max-height: 61px;
  margin-right: 20px;
}

button:focus {
  outline: 0;
}


img#alternativeImg {
  max-width: 286px;
  max-height: 286px;
  margin: 10px;
}

input.form-input {
  margin-top: 40px;
  font-size: 25px;
  width:50%;
  padding: 10px;
  font-family: 'Karla', sans-serif;
  border-color: black;
  border-width: 1px;
}